page-home {
  .item_radio2{
      font-size: 1.6rem;
      //border: 1px;
      //border-color: black;
  }

  .col{
      border: 1px;
      border-color: chocolate;
  }

  .box {
      padding: 1px;
      border: 1px dotted chocolate;
      width: 28px;
      height: 42.8px;
      vertical-align: middle;
      text-align: center;
  }

  .row {
      border: 0px;
  }
}
